/* =========================
| Global styles
============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* =========================
| Buttons styles
============================ */
.button-default {
  background-color: #e02c6d;
  width: 196px;
  height: 44px;
  padding: 10px 24px;
  border-radius: 41px;
  color: #fff;
  border: none;
  margin: 1em 0em;
}

/* =========================
| Header styles
============================ */
header {
  width: 1200px;
  margin: 87px auto;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.company-name {
  color: #3a3a3a;
  font-size: 1.5em;
  font-weight: 700;
}

.links {
  display: flex;
  align-items: center;
  list-style: none;
}
.links a {
  font-size: 1em;
  font-weight: 600;
  text-decoration: none;
  margin-left: 1.5em;
  color: #3a3a3a;
}
/* ===========================
| Start Journey section styles
============================== */
.start-journey {
  width: 1200px;
  margin: 87px auto;
}
.wrapper-box {
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: contain;
  background-position: top right;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.text-description > h2 {
  font-size: 3.12em;
  line-height: 70px;
  font-weight: 700;
  color: #3a3a3a;
}
.text-description > p {
  font-size: 1em;
  line-height: 24px;
  font-weight: 600;
  color: #3a3a3a;
  width: 75%;
}
.camera-img img {
  width: 100%;
  height: 100%;
  padding: 30px;
}

/* =========================
| Online market styles
============================ */
.online-markets {
  width: 1110px;
  margin: 100px auto;
  height: 110px;
}
.market-wrapper-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}

/* =========================
| Popular collection styles
============================ */
.popular-collection {
  width: 1050px;
  margin: 100px auto;
}
.section-title {
  text-align: center;
  font-size: 1.8em;
  color: #3a3a3a;
  margin: 1em 0em;
}
.collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 1em;
}
.collection-box {
  box-shadow: 0px 0px 40px #00000026;
  border-radius: 5px;
  padding: 1em;
}
.collection-box > img {
  width: 100%;
  height: auto;
}
.product-name {
  font-size: 1.8em;
  color: #18191f;
  font-weight: 500;
}
.product-price {
  color: #5e6366;
  font-size: 0.9em;
  margin: 1em 0em;
}

.rating-star {
  color: #fb8200;
}
.rating {
  color: #5e6366;
  font-size: 0.9em;
}
.shipping-text {
  color: #5e6366;
  font-size: 0.9em;
}
.buyer-protection-text {
  color: #787885;
  font-size: 0.9em;
}

/* =========================
| Featured products styles
============================ */
.featured-products {
  width: 1110px;
  margin: 100px auto;
  display: flex;
  gap: 3.5em;
  align-items: center;
  /* border: 1px solid #ddd; */
}
.feature-title {
  font-size: 2.2em;
  color: #0a0826;
  font-weight: 700;
}
.feature-description {
  color: #6c6c6c;
  width: 75%;
}

/* =========================
| Footer section styles
============================ */
footer {
  background-color: #0a0826;
  min-height: 150px;
  color: #fff;
  padding: 1.5em;
  display: block;
}
.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-title,
.copyright {
  text-align: center;
}
.social-links {
  display: flex;
  justify-content: center;
}
.social-links > i {
  margin: 1em 1em;
  font-size: 20px;
}
/* ===============================
| Responsive styles for cell-phone
================================== */
.hide {
  display: none;
}
/*  */
@media only screen and (max-width: 576px) {
  /* Header nav */
  header {
    margin: 20px 0px;
    width: 100%;
    padding: 0.5em;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .links a {
    margin: 0px;
    padding: 0px;
  }

  .links {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Start journey */
  .start-journey {
    display: flex;
    justify-content: center;
    margin: 0em auto;
    padding: 0.5em;
    width: 100%;
  }
  .wrapper-box {
    flex-direction: column;
    flex-flow: column-reverse;
    background-position: center top;
    background-size: contain;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .text-description h2 {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  .camera-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-position: center;
  }

  /* Online markets */
  .online-markets {
    margin: 0px;
    padding: 0.5em;
    width: 100%;
  }
  .market-wrapper-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    grid-column-start: 1;
  }
  .market-wrapper-box img {
    width: 80%;
    height: 80%;
  }

  /* Popular collection */
  .popular-collection {
    margin: 0px;
    padding: 0.5em;
    width: 100%;
  }
  .collection {
    margin: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  .section-title {
    font-size: 1.5em;
  }
  .collection-box {
    width: 100%;
    margin: 0px;
  }
  .collection-box > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-size: cover;
    height: auto;
    background-position: center;
  }

  /* Feature products */
  .featured-products {
    width: 100%;
    padding: 0.5em;
    margin: 0px 0px;
    flex-direction: column;
  }
  .feature-title {
    font-size: 1.5em;
    margin: 0px 0px;
  }
  .feature-image > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-size: cover;
    height: auto;
  }
  .feature-description {
    color: #6c6c6c;
    width: 100%;
  }

  /* Footer */
  .footer {
    padding: 0.5em;
  }
  .footer-title {
    font-size: 1em;
  }
  .copyright {
    font-size: 0.8em;
  }
}

/* ===========================
| Responsive styles for tablet
============================== */
@media only screen and (min-width: 577px) and (max-width: 768px) {
  body {
    background-color: red;
  }
}

/* =========================
| Global styles
============================ */
